{
    "development": {
        "db": {
            "database": "dbhouse",
            "hostname": "127.0.0.1",
            "port": 3306,
            "username": "root",
            "password": ""
        }
    },
    "staging": {
        "db": {
            "database": "dbhouse",
            "hostname": "127.0.0.1",
            "port": 3306,
            "username": "root",
            "password": ""
        }
    },
    "production": {
        "db": {
            "database": "dbhouse",
            "hostname": "127.0.0.1",
            "port": 3306,
            "username": "root",
            "password": ""
        }
    }
}
